body, html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.isRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.smallRow {
    height: 45px;
}

.mediumRow {
    height: 18px;
}

.bigRow {
    height: 9px;
}

.isSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.smallSquare {
    height: 45px;
    width: 45px;
}

.mediumSquare {
    height: 18px;
    width: 18px;
}

.bigSquare {
    height: 9px;
    width: 9px;
}

.buttonsDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.sizeButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.eraseButtonDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}